body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('gameneon02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 30px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell.X::before {
    content: 'X';
}

.cell.O::before {
    content: 'O';
}

.cell:hover {
    background-color: #d0d0d0;
}

.menu-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #0056b3;
}

.turn,h1{
    margin: 2vh;
    font-family: "Arial Black","Times New Roman", Times, sans-serif;
    font-size: large;
    color: white;
}

.menu-button:active{
    background-color: #dae335;
}

.variation{
    color: white;
}

