body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('gameneon03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.small_board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 5px;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: center;
}

.first_row{
    display: flex;
    justify-content: center;
}

.second_row{
    display: flex;
    justify-content: center;
}

.third_row{
    display: flex;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell.X::before {
    content: 'X';
}

.cell.O::before {
    content: 'O';
}

.cell:hover {
    background-color: #d0d0d0;
}

.cell.D::before{
    content: '/';
}



.menu-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-button:active{
    background-color: #dae335;
}

.reset-button:hover {
    background-color: #0056b3;
}


.next-board {
    border: 3px solid #0056b3;
}

.turn{
    margin: 2vh;
    font-family: "Arial Black","Times New Roman", Times, sans-serif;
    font-size: large;
}